@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body{
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.bg-black{
  background-color: #000;
}

.bg-blue{
  background-color: #4a90e2;
}

.border1{
  border: 1px solid;
}

.title{
  font-weight: 600;
}

.btn-submit{
  background-color: #1e7be2;
  color: #fff;
  &:hover{
    color: #fff;
  }
}

.f18{
  font-size: 18px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.panel-group .panel {
  padding: 15px 0;
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #fff;
}

.panel-default{
  &.odd{
    background-color: #1f1f1f;
  }
}

.panel-title {
  font-size: 14px;

  > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
  }
  .date-bg{
    background: url(../images/ico-no-event.svg) no-repeat center bottom;
    padding: 5px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
  }
  .titlex{
    font-size: 18px;
  }
}

.tlp{
  background: url(../images/phone.svg) no-repeat left;
  font-size: 14px;
  @include media-breakpoint-up(sm){
    background-position: 30px;
  }
}

.email{
  background: url(../images/email.svg) no-repeat 55px;
  font-size: 14px;
  @include media-breakpoint-up(sm){
    text-align: right;
  }
}

.column-partner{
  .col-right {
    @include media-breakpoint-up(sm){
      border-left: 1px solid #767676;
    }
  }
}

.panel-body{
  color: #4a90e2 !important;
}

.more-less {
  float: right;
  color: #94989e;
  font-size: 15px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
}

.atau{
  &::before{
    content: '';
    background-color: #9b9b9b;
    height: 1px;
    width: 150px;
    position: absolute;
    left: 0;
    top: 12px;
    right: 0;
    margin: auto;
  }
  &::after{
    background-color: #fff;
    content: '';
    width: 50px;
    top: 0;
    position: absolute;
    height: 25px;
    left: 0;
    right: 0;
    margin: auto;
  }
  span{
    position: relative;
    z-index: 1;
  }
  color: #929699;
}

.wrapper{
  .act-menus{
    @include media-breakpoint-down(sm){
      padding: 20px 0;
    }
    ul{
      border-left: 1px solid #fff;
      @include media-breakpoint-up(sm){
        padding-left: 25px;
      }
      @include media-breakpoint-down(sm){
        border: none;
        padding-left: 0;
      }
      li{
        list-style: none;
        display: inline-block;
        margin: 0 5px;
        width: 100px;
        height: 35px;
        a{
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

.header{
  .navbar-toggler{
    position: relative;
    @include media-breakpoint-down(sm){
      background: url(../images/menu.svg) no-repeat right;
    }
    .navbar-toggler-icon{

    }
    
  }
  .navbar-nav{
    li{
      position: relative;
      @include media-breakpoint-up(sm){
        margin-right: 20px;
      }
      &.active{
        &::before{
          content:'';
          background-color: blue;
          position: absolute;
          bottom: -18px;
          width: 100%;
          height: 3px;
          @include media-breakpoint-down(sm){
            bottom: 0;
          }
        }
      }
      a{
        opacity: 0.9;
        &:hover{
          opacity: 1;
        }
      }      
    }
  }
  ul{
    li{
      a{
        color: #fff;
      }
    }
  }
}

.widya-slider-wrapper{
  .more{
    @include media-breakpoint-down(sm){
      margin-bottom: 50px;
    }
  }
  .column-slider{
    .product-slider{
      .slick-dots{
        @include media-breakpoint-down(sm){
          margin: 20px 0;
        }
      }
      .slick-slide{
        text-align: center;
        justify-content: center;
        display: flex;
      }
    }
  }    
}

#footer{
  @include media-breakpoint-down(sm){
    text-align: center;
  }
  .top{
    .row{
      border-top: 1px solid #979797;
      border-bottom: 1px solid #979797;
      padding: 38px 0;
    }
    .txt-bottom{
      display: flex;
      height: 100%;
      align-items: flex-end;
      justify-content: flex-end;
      @include media-breakpoint-down(sm){
        justify-content: center;
        margin-top: 10px;
      }
      a{
        color: #666;
        font-size: 12px;
      }
    }
  }
  .bottom{
    font-size: 12px;
    .policy{
      z-index: 1;
      text-decoration: underline;
      a{        
        opacity: 0.9;
        color: #fff;
      }
    }
    .copy{
      @include media-breakpoint-down(sm){
        text-align: left !important;
      }
      opacity: 0.9;
      left: 0;
      right: 0;
    }
  }
}

.before-footer-wrapper{
  .temukan-wrapper{
    .temukan-column{
      max-width: none;
      margin-right: 0;
      overflow: hidden;
      padding-left: 86px !important;
      padding-right: 0;
      @include media-breakpoint-down(sm){
        padding-left: 0 !important;
        .img{
          margin-top: 20px;
        }
      }
      .txt{
        font-size: 30px;
        @include media-breakpoint-down(sm){
          text-align: center;
        }
      }
      .more{
        @include media-breakpoint-down(sm){
          text-align: center;
        }
        a{
          text-decoration: none;
          color: #000;
          border-color: #000 !important;
        }
      }
    }
  }
  .bg-black{
    .form-inline{
      .form-group{
        @include media-breakpoint-down(sm){
          margin: auto;
          width: 100% !important;
          margin-left: 0 !important;
          margin-top: 10px;  
        }        
      }
    }
  }
  .sosmed{
    ul{
      padding: 0;
      margin-bottom: 0;
      margin-top: 10px;
      text-align: right;
      @include media-breakpoint-down(sm){
        text-align: center;
      }
      li{
        list-style: none;
        display: inline-block;
        margin-right: 30px;
        font-size: 20px;
        a{
          color: #fff;
          opacity: 0.9;
          &:hover{
            opacity: 1;
          }
        }
      }
    }
  }  
  .bg-white-product{
    background: url(../images/banner-before.png) no-repeat right top;
    .title{
      font-size: 30px;
      @include media-breakpoint-down(sm){
        color: #fff;
      }
    }
    .column-app{
      ul{
        padding: 0;
        @include media-breakpoint-down(sm){
          text-align: center;
        }
        li{
          list-style: none;
          display: inline-block;
          margin-right: 10px;
          width: 200px;
          @include media-breakpoint-down(sm){
            width: 150px;
          }
          a{
            display: block;
            img{
              @include media-breakpoint-down(sm){
                width: 150px;
              }
            }
          }
        }
      }
    }
  }
}

.temukan-kami-banner{
  .column{
    max-width: none;
    margin-right: 0;
    overflow: hidden;
    padding-left: 86px !important;
    padding-right: 0;
    .img{
      img{
        width: 100%;
      }
    }
  }
}

.bantuan-wrapper{
  .columns{
    .nav-tabs{
      li{
        font-size: 20px;
        text-align: center;
        padding: 0;
        a{
          padding: 0;
          color: #4a4a4a;
          border: none;
          &.active{
            font-weight: bold;
            border-bottom: 3px solid;
          }
        }
      }
    }
    .panel-default{
      padding: 0;
    }
    .panel-heading{
      border-bottom: 1px solid #94989e;
      .panel-title{
        margin-bottom: 0;
        a{
          color: #000 !important;
          font-weight: bold;
          font-size: 24px;
          padding: 15px 0;
        }
      }
    }
    .panel-body{
      padding-top: 20px;
      color: #979797 !important;
      p{
        padding: 0;
      }
    }
  }
}

.maps-wrapper {
  .colom-txt{
    h1{
      background: url(../images/border-gradient.jpg) no-repeat center bottom;
      text-align: center;
      padding-bottom: 16px;
      font-size: 30px;  
    }
  }
  .maps{
    overflow: hidden;
    .map-list{
      // height: 400px;
      // overflow-y: scroll;
      .block{
        .col-right{
          @include media-breakpoint-up(sm){
            margin-left: 15px;
          }
          .city{
            font-size: 20px;
            font-weight: bold;
          }
          .address{
            font-size: 12px;
          }
        }
      }
    }
  }
}

.paging{
  ul{
    li{
      margin: 0 10px;
      font-size: 18px;
      &.active{
        a{
          background: #fff !important;
          color: #333 !important;
          border-color: transparent !important;
        }
      }
      a{
        color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000;
      }
    }
  }
}

.section-explorasi-wrapper{
  .title{
    font-size: 30px;
  }
}

.section-lilst-article-wrapper{
  .title{
    font-size: 30px;
  }
  .list-article{
    .block{
      .img{
        overflow: hidden;
        height: 234px;
        a{
          &:hover{
            img{
              transform: scale(1.5);
            }
          }
          img{
            transition: transform .5s ease;
          }
        }
      }
      .category{
        span{
          background-color: #2c2a2a;
          color: #fff;
          padding: 5px 15px;
          font-size: 14px;
        }
      }
      .title-post{
        font-size: 24px;
        font-weight: bold;
        line-height: normal;
        a{
          color: #000;
          text-decoration: none;
          &:hover{
            color: #4a90e2;
          }
        }
      }
    }
  }
}


.detail-article-banner{
  .column{
    .img{
      img{
        object-fit: cover;
        @include media-breakpoint-up(sm){
          height: 550px;
        }
      }
    }
    .txt-bottom{
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.detail-article-text{
  .txt{
    font-size: 18px;
  }
}


.fitur-page{
  .tag{
    color: #4a4a4a;
    font-size: 20px;
  }
  .video-column{
    .desc{
      @include media-breakpoint-up(sm){
        width: 75%;
      }
      font-size: 20px;
    }
  }
  .fitur-items{
    .slick-slide{
      margin: 0 5px;
    }
    .slick-arrow{
      position: absolute;
      top: 50%;
      background: url(../images/arrow-slider.svg) no-repeat;
      text-indent: -9999px;
      padding: 1.1% 2%;
      box-shadow: none;
      border: none;
      outline: none;
      cursor: pointer;
      overflow: hidden;
      background-size: 55px;
      @include media-breakpoint-down(sm){
        padding: 5% 8%;
      }
      &:hover{
        box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.48);
        border-radius: 50%;
      }
      &.slick-prev{
        left: 20px;
        z-index: 2;
      }
      &.slick-next{
        right: 20px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }
  }
}

.fitur-page-column-wrapper{
  .column{
    .block{
      .name{
        background: url(../images/border-gradient.jpg) no-repeat center bottom;
      }
      .desc{
        color: #4a4a4a;
        font-size: 14px;
      }
    }
  }
}

.section-home-slider{
  overflow: hidden;
  &.fitur-banner{
    .slick-arrow{
      display: none !important;
    }
  }
  .slick-arrow{
    position: absolute;
    top: 50%;
    background: url(../images/arrow-slider.svg) no-repeat;
    text-indent: -9999px;
    padding: 1.1% 2%;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    background-size: 55px;
    @include media-breakpoint-down(sm){
      display: none !important;
    }
    &:hover{
      box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.48);
      border-radius: 50%;
    }
    &.slick-prev{
      left: 20px;
      z-index: 2;
    }
    &.slick-next{
      right: 20px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
  .slick-dots{
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
    bottom: 20px;
    left: 0;
    right: 0;
    position: absolute;
    @include media-breakpoint-down(sm){
      bottom: 0;
    }
    li{
      display: inline-block;
      margin: 0 10px;
      &.slick-active{
        button{
          background-color: #1e7be2;
        }
      }
      button{
        text-indent: -9999px;
        border-radius: 50%;
        width: 10px;
        height: 12px;
        border: none;
        outline: none;
      }
    }
  }
  .column{
    .img{
      img{
        width: 100%;
      }
    }
    .txt{
      position: absolute;
      top: 36%;
      left: 8%;
      font-size: 42px;
      font-weight: 600;
      width: 40%;  
      @include media-breakpoint-down(sm){
        font-size: 14px;
        width: 60%;
      }
    }
  }
}

.ai-wrapper{
  .title{
    font-size: 30px;
    @include media-breakpoint-up(sm){
      line-height: 30px;
      margin-top: 20px;
    }
  }
  .bullet-list{
    text-align: right;
    ul{
      padding-left: 0;
      margin-bottom: 0;
      margin-top: 50px;
      margin-right: 20px;
      display: inline-block;
      li{
        list-style: none;
        width: 20px;
        height: 20px;
        border: 1px solid;
        margin-right: 10px;
        border-radius: 50%;
        display: inline-block;
        box-shadow: 0 0 38px -10px #2c2a2a;
        &:first-child{
          background-color: #000;
        }
        &:last-child{
          background-color: #fff;
          border-color: #000;
        }
      }
    }
    .txt{
      display: inline-block;
    }
  }
}

.spec-section{
  .column{
    .block{
      text-align: center;
      color: #4a4a4a;
      .img{}
      .name{
        font-size: 20px;
        background: url(../images/border-gradient.jpg) no-repeat bottom center;
      }
      .desc{
        font-size: 14px;
        @include media-breakpoint-up(sm){
          width: 75%;
          display: inline-block;
        }
      }
    }
  }
}

.tentang-kami-txt{
  .partner-wrapper{
    ul{
      display: inline-block;
      li{
        list-style: none;
        display: inline-block;
        margin: 0 20px;
      }
    }
  }
  .banner{
    .icon{
      position: absolute;
      bottom: 0px;
      background: #fff;
      border-radius: 50%;
      padding: 10px;
      box-shadow: 0px 0px 20px -10px #333;
      left: 47.5%;
      @include media-breakpoint-down(sm){
        left: 38.5%;
      }
    }
  }
  h4{
    font-size: 30px;
  }
  p{
    font-size: 18px;
  }
  .desc{
    @include media-breakpoint-up(sm){
      width: 75%;
      display: inline-block;
    }
  }
}

.list-vm{
  padding-left: 10.5%;
  margin-bottom: 0;
  li{
    text-align: left;
    font-size: 18px;
    font-weight: 600;
  }
}

.sahabat-section{
  .sahabat-column{
    max-width: none;
    margin-right: 0;
    overflow: hidden;
    padding-right: 86px!important;
    padding-left: 0;    
    @include media-breakpoint-down(sm){
      padding-left: 15px;
      padding-right: 15px !important;
    }
    .img{
      @media screen and (min-width:1920px) {
        margin-left: 33%;
      }
    }
  }
  .txt-column{
    padding-top: 20%;    
    .more{
      a{
        text-decoration: none;
        color: #000;
        border-color: #000 !important;
      }
    }
  }
  .img-column{
    .float-img{
      float: left;
    }
  }
}

.home-video-section{
  .video-column{
    max-width: none;
    margin-right: 0;
    overflow: hidden;
    padding-left: 86px!important;
    padding-right: 0;
    @media screen and (min-width:1920px) {
      padding-left: 300px !important;
    }
    @include media-breakpoint-down(sm){
      padding-left: 15px !important;
    }
    .title{
      font-size: 30px;
    }
    .multiple-items{
      @include media-breakpoint-down(sm){
        margin-top: 20px;
      }
      .slick-arrow{
        position: absolute;
        bottom: 10px;
        text-indent: -9999px;
        width: 55px;
        height: 55px;
        box-shadow: none;
        border: none;
        outline: none;
        cursor: pointer;
        overflow: hidden;
        @include media-breakpoint-down(sm){
          top: 0;
        }
        svg{          
          color: #555;
        }
        &.prev{
          left: 0;
          z-index: 2;
          background: rgba(255, 255, 255, 0.8) url(../images/angle-arrow.svg) no-repeat center;
        }
        &.next{
          left: 60px;
          background: rgba(255, 255, 255, 0.8) url(../images/angle-arrow.svg) no-repeat center;
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
        }
      }
      .slick-slide{
        margin: 0 5px;
        iframe{
          width: 100%;
          height: 300px;
        }
      }
    }
    .more{
      a{
        text-decoration: none;
        color: #000;
        border-color: #000 !important;
      }
    }
  }
}

.fitur-section-wrapper{
  background-color: #f9f9f9;
  .title{
    span{
      display: block;
    }
  }
  .fitur-column{
    .img{
      min-height: 50px;
    }
    .name{
      font-size: 20px;
    }
  }
}

.halo-section-wrapper{
  .column-halo{
    .txt-wrapper{
      @include media-breakpoint-up(sm){
        width: 50%;
        margin: auto;
        margin-top: -150px;
      }      
      .title{
        font-size: 24px;
      }
    }
  }
}

.find-section-wrapper{
  .txt-column{
    @include media-breakpoint-up(sm){
      width: 75%;
      margin: auto;
    }    
  }
  .title{
    font-size: 30px;
  }
  .widya-slider-wrapper{
    @include media-breakpoint-down(sm){
      margin: 0 !important;
    }
    .title{
      font-size: 40px;
    }
    .column{
      margin-top: 50%;
      @include media-breakpoint-down(sm){
        margin-top: 10%;
      }
    }
    .slick-dots{
      padding-left: 0;
      margin-bottom: 0;
      text-align: center;
      bottom: -50px;
      left: 0;
      right: 0;
      position: absolute;
      li{
        display: inline-block;
        margin: 0 10px;
        &:first-child{
          button{
            background-color: #fff;
          }
        }
        &:last-child{
          button{
            background-color: #000;
          }
        }
        button{
          text-indent: -9999px;
          border-radius: 50%;
          width: 10px;
          height: 14px;
          outline: none;
          background: #fff;
          box-shadow: none;
          border: 1px solid #ccc;
        }
      }
    }
    .more{
      a{
        text-decoration: none;
        color: #000;
        border-color: #000 !important;
      }
    }
  }
}

.testimonial-wrapper{
  .column{
    .title{

    }
    .testi-block{
      box-shadow: 0 0 38px -10px #d9d7df;
      border-radius: 33px;
      padding-top: 30px !important;
      @include media-breakpoint-down(sm){
        text-align: center;
      }
      p{
        font-size: 12px;
        line-height: normal;
        color: #9b9b9b;
      }
      .starts{
        ul{
          padding-left: 0;
          li{
            list-style: none;
            display: inline-block;
            svg{
              color: #f8e71c;
              &.no-fill{
                color: #cdd4d7;
              }
            }
          }
        }
      }
    }
  }
}


.form-act-wrapper{
  background-color: rgba(247, 248, 255, 0.6)
}

.forgot-pass{
  text-align: right;
  a{
    color: #0a4cba;
    font-size: 14px;
    font-family: 'Roboto', ;
  }
}

.form-check{
  label{
    color: #9b9b9b;
    cursor: pointer;
  }
}


.form-login{
  .input-group-btn{
    right: 0;
    top:0;
    svg{
      color: #d1d1d1;
    }
  }
}